<?xml version="1.0" encoding="utf-8"?>
<root>
  <captcha>
    <domain>antigate.com</domain>
    <key>1740ac8f6b6ee63e6b18f5aac74cd3d0</key>
  </captcha>
  <manufacture>
    <item id="HONDA" m="30" p="61" u="25">
      <value name="CBR 600 RR">1292</value>
      <value name="CBR 1000 RR">1287</value>
    </item>
  </manufacture>
</root>