<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <captcha>
    <domain>antigate.com</domain>
    <key>1740ac8f6b6ee63e6b18f5aac74cd3d0</key>
  </captcha>
  <moto>
    <manufacture>
      <item id="honda" m="30" p="61" u="25">
        <value name="cbr 600 rr">1292</value>
        <value name="cbr 1000 rr">1287</value>
      </item>
      <item id="kawasaki" m="27" p="71" u="33">
        <value name="cbr 1000 rr">1287</value>
      </item>
    </manufacture>
    <docs>
      <item id="бд" m="1" p="1"/>
      <item id="ст" m="3" p="2"/>
      <item id="сн" m="4" p="3"/>
      <item id="сд" m="5" p="4"/>
      <item id="сс" m="7" p="5"/>
      <item id="нр" m="2" p="6"/>
      <item id="оп" m="6" p="7"/>
    </docs>
    <year>
      <item u="1" id="2013"/>
      <item u="2" id="2012"/>
      <item u="3" id="2011"/>
      <item u="4" id="2010"/>
      <item u="5" id="2009"/>
      <item u="6" id="2008"/>
      <item u="7" id="2007"/>
      <item u="8" id="2006"/>
      <item u="9" id="2005"/>
      <item u="10" id="2004"/>
      <item u="11" id="2003"/>
      <item u="12" id="2002"/>
      <item u="13" id="2001"/>
      <item u="14" id="2000"/>
      <item u="15" id="1999"/>
      <item u="16" id="1998"/>
      <item u="17" id="1997"/>
      <item u="18" id="1996"/>
      <item u="19" id="1995"/>
      <item u="20" id="1994"/>
      <item u="21" id="1993"/>
      <item u="22" id="1992"/>
      <item u="23" id="1991"/>
      <item u="24" id="1990"/>
      <item u="25" id="1989"/>
      <item u="26" id="1988"/>
      <item u="27" id="1987"/>
      <item u="28" id="1986"/>
      <item u="29" id="1985"/>
      <item u="30" id="1984"/>
      <item u="31" id="1983"/>
      <item u="32" id="1982"/>
      <item u="33" id="1981"/>
      <item u="34" id="1980"/>
    </year>
    <color>
      <item id="аерография" p="36"/>
      <item id="бежевый" p="1"/>
      <item id="белый" p="3"/>
      <item id="желтый" p="7"/>
      <item id="зеленый" p="9"/>
      <item id="золотой" p="11"/>
      <item id="коричневый" p="13"/>
      <item id="красный" p="15"/>
      <item id="оранжевый" p="17"/>
      <item id="серебристый" p="21"/>
      <item id="серый" p="23"/>
      <item id="синий" p="25"/>
      <item id="фиолетовый" p="27"/>
      <item id="черный" p="29"/>
    </color>
    <type>
      <item id="классик" m="Классик" p="2" u="84"/>
      <item id="неоклассик" m="Неоклассик" p="2" u="84"/>
      <item id="чоппер" m="Чоппер" p="44" u="83"/>
      <item id="спорт" m="Спорт" p="4" u="82"/>
      <item id="спорт-турист" m="Спорт-турист" p="5" u="82"/>
      <item id="турист" m="Турист" p="5" u="84"/>
      <item id="эндуро" m="Эндуро" p="7" u="85"/>
      <item id="кросс" m="Кросс" p="7" u="86"/>
      <item id="питбайк" m="Питбайк" p="2" u="84"/>
      <item id="супер-мото" m="Супер-мото" p="9" u="84"/>
      <item id="скутер" m="Скутер" p="89" u="87"/>
      <item id="макси-скутер" m="Макси-Скутер" p="89" u="87"/>
      <item id="кастом" m="Кастом" p="3" u="84"/>
      <item id="трайк" m="Трайк" p="48" u="84"/>
      <item id="квадроцикл" m="Квадроцикл" p="89" u="88"/>
      <item id="гидроцикл" m="Гидроцикл" p="89" u="89"/>
      <item id="снегоход" m="Снегоход" p="89" u="89"/>
      <item id="триал-мото" m="Триал-мото" p="6" u="86"/>
    </type>
    <condition>
      <item id="новый" m="1" p="10" u="1"/>
      <item id="отличное" m="1" p="2" u="1"/>
      <item id="хорошее" m="1" p="1" u="2"/>
      <item id="нормальное" m="1" p="14" u="3"/>
      <item id="битый" m="1" p="4" u="4"/>
    </condition>
  </moto>
  <city>
    <item m="1" p="1" u="5">винница</item>
    <item m="11" p="2" u="7">днепропетровск</item>
    <item m="13" p="3" u="8">донецк</item>
    <item m="2" p="4" u="9">житомир</item>
    <item m="14" p="5" u="10">запорожье</item>
    <item m="15" p="6" u="11">ивано-франковск</item>
    <item m="10" p="8" u="13">киев</item>
    <item m="16" p="9" u="14">кировоград</item>
    <item m="17" p="11" u="18">луганск</item>
    <item m="18" p="12" u="19">луцк</item>
    <item m="5" p="13" u="20">львов</item>
    <item m="19" p="15" u="23">николаев</item>
    <item m="12" p="16" u="24">одесса</item>
    <item m="20" p="17" u="25">полтава</item>
    <item m="9" p="18" u="26">ровно</item>
    <item m="21" p="20" u="28">симферополь</item>
    <item m="8" p="21" u="29">сумы</item>
    <item m="3" p="22" u="30">тернополь</item>
    <item m="22" p="23" u="31">ужгород</item>
    <item m="7" p="25" u="32">харьков</item>
    <item m="23" p="26" u="33">херсон</item>
    <item m="4" p="27" u="34">хмельницкий</item>
    <item m="24" p="28" u="35">черкассы</item>
    <item m="6" p="29" u="36">чернигов</item>
    <item m="25" p="30" u="37">черновцы</item>
  </city>
  <equip>
    <production>
      <item id="honda" pz="541" pe=""/>
    </production>
    <typeSpare>
      <item id="двигатель" m="Двигатель" p="26" u="2"/>
      <item id="ходовая" m="Ходовая" p="27" u="7"/>
      <item id="колеса" m="Колеса" p="72" u="3"/>
      <item id="электрика" m="Электрика" p="29" u="4"/>
      <item id="пластик" m="Пластик" p="28" u="8"/>
      <item id="чехлы" m="Чехлы" p="36" u="12"/>
      <item id="наклейки" m="Наклейки" p="36" u="12"/>
      <item id="тормоза" m="Тормоза" p="31" u="12"/>
      <item id="глушители" m="Глушители" p="43" u="9"/>
      <item id="резина" m="Резина" p="32" u="3"/>
      <item id="вилка" m="Вилка" p="27" u="7"/>
      <item id="рама" m="Рама" p="34" u="8"/>
      <item id="аккумуляторы" m="Аккумуляторы" p="42" u="12"/>
      <item id="масло" m="Масло" p="42" u="12"/>
      <item id="фильтра" m="Фильтра" p="42" u="12"/>
      <item id="цепи" m="Цепи" p="42" u="12"/>
      <item id="звезды" m="Звезды" p="42" u="12"/>
      <item id="ремни" m="Ремни" p="42" u="12"/>
      <item id="подшипники" m="Подшипники" p="42" u="12"/>
      <item id="сальники" m="Сальники" p="42" u="12"/>
      <item id="свечи" m="Свечи" p="42" u="12"/>
      <item id="ключи" m="Ключи" p="36" u="12"/>
      <item id="противоугонные системы" m="Противоугонные системы" p="29" u="4"/>
      <item id="выхлоп" m="Выхлоп" p="43" u="9"/>
      <item id="лампы" m="Лампы" p="29" u="4"/>
      <item id="демпферы" m="Демпферы" p="27" u="12"/>
      <item id="рычаги(ручки)" m="Рычаги(Ручки)" p="36" u="12"/>
      <item id="кофры" m="Кофры" p="85" u="12"/>
      <item id="зеркала" m="Зеркала" p="36" u="12"/>
      <item id="защита" m="Защита" p="36" u="12"/>
      <item id="стопы" m="Стопы" p="29" u="4"/>
      <item id="повороты" m="Повороты" p="29" u="4"/>
      <item id="фары" m="Фары" p="41" u="10"/>
      <item id="подножки" m="Подножки" p="36" u="12"/>
      <item id="ветровики" m="Ветровики" p="36" u="12"/>
      <item id="баки" m="Баки" p="36" u="5"/>
      <item id="рули" m="Рули" p="27" u="7"/>
      <item id="разборка" m="Разборка" p="73" u="12"/>
      <item id="услуги" m="Услуги" p="36" u="12"/>
    </typeSpare>
    <typeEquip>
    </typeEquip>
  </equip>
</configuration>