<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <captcha>
    <domain>antigate.com</domain>
    <key>1740ac8f6b6ee63e6b18f5aac74cd3d0</key>
  </captcha>
  <moto>
    <manufacture>
      <item id="honda" m="30" p="61" u="25">
        <value name="cbr 600 rr">1292</value>
        <value name="cbr 1000 rr">1287</value>
      </item>
      <item id="kawasaki" m="27" p="71" u="33">
        <value name="cbr 1000 rr">1287</value>
      </item>
    </manufacture>
    <docs>
      <item id="бд" m="1" p="1"/>
      <item id="ст" m="3" p="2"/>
      <item id="сн" m="4" p="3"/>
      <item id="сд" m="5" p="4"/>
      <item id="сс" m="7" p="5"/>
      <item id="нр" m="2" p="6"/>
      <item id="оп" m="6" p="7"/>
    </docs>
  </moto>
  <city>
    <item m="1" p="1" u="5">винница</item>
    <item m="11" p="2" u="7">днепропетровск</item>
    <item m="13" p="3" u="8">донецк</item>
    <item m="2" p="4" u="9">житомир</item>
    <item m="14" p="5" u="10">запорожье</item>
    <item m="15" p="6" u="11">ивано-франковск</item>
    <item m="10" p="8" u="13">киев</item>
    <item m="16" p="9" u="14">кировоград</item>
    <item m="17" p="11" u="18">луганск</item>
    <item m="18" p="12" u="19">луцк</item>
    <item m="5" p="13" u="20">львов</item>
    <item m="19" p="15" u="23">николаев</item>
    <item m="12" p="16" u="24">одесса</item>
    <item m="20" p="17" u="25">полтава</item>
    <item m="9" p="18" u="26">ровно</item>
    <item m="21" p="20" u="28">симферополь</item>
    <item m="8" p="21" u="29">сумы</item>
    <item m="3" p="22" u="30">тернополь</item>
    <item m="22" p="23" u="31">ужгород</item>
    <item m="7" p="25" u="32">харьков</item>
    <item m="23" p="26" u="33">херсон</item>
    <item m="4" p="27" u="34">хмельницкий</item>
    <item m="24" p="28" u="35">черкассы</item>
    <item m="6" p="29" u="36">чернигов</item>
    <item m="25" p="30" u="37">черновцы</item>
  </city>
</configuration>