<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 
  See https://github.com/nlog/nlog/wiki/Configuration-file 
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <target xsi:type="File" name="file"
            fileName="${basedir}/logs/current.log"
            layout="${date:format=yyyy-MM-dd HH\:mm\:ss} | ${level:uppercase=true} | ${logger:shortName=true} | ${message} | ${exception:separator=\:\n:format=ShortType,StackTrace}"
            keepFileOpen="false"
            concurrentWrites="false"
            archiveEvery="Day"
            maxArchiveFiles="30"
            archiveFileName="${basedir}/logs/log_{#}.arch"
            archiveDateFormat="yyyy-MM-dd"
            archiveNumbering="Date"
    />
    <target xsi:type="Mail" name="gmail"
            smtpServer="smtp.yandex.ru"
            smtpPort="25"
            smtpUserName="postads"
            smtpPassword="postads2407"
            enableSsl="false"
            from="postads@ya.ru"
            to="babajaka22@rambler.ru"
            body="${date:format=yyyy-MM-dd HH\:mm\:ss} | ${level:uppercase=true} | ${logger:shortName=true} | ${message} | ${exception:separator=\:\n:format=ShortType,StackTrace}"
            html="false"
            addNewLines="true"
            encoding="UTF-8"
            subject="${level:uppercase=true}"
            smtpAuthentication="Basic"
            useSystemNetMailSettings="false"
    />
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="file" />
    <logger name="*" minlevel="Warn" writeTo="gmail"/>
  </rules>
</nlog>