<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Caliburn.Micro" version="2.0.2" targetFramework="net451" />
  <package id="Caliburn.Micro.Core" version="2.0.2" targetFramework="net451" />
  <package id="HtmlAgilityPack" version="1.4.9" targetFramework="net452" />
  <package id="MahApps.Metro" version="1.2.3.0" targetFramework="net452" />
  <package id="MahApps.Metro.Resources" version="0.4.0.0" targetFramework="net45" />
  <package id="MailKit" version="1.2.16" targetFramework="net45" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net45" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net40" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net45" />
  <package id="MimeKit" version="1.2.19" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net45" />
  <package id="NLog" version="4.2.3" targetFramework="net45" />
  <package id="NLog.Config" version="4.2.3" targetFramework="net45" />
  <package id="NLog.Schema" version="4.2.3" targetFramework="net45" />
  <package id="UDE.CSharp" version="1.1.0" targetFramework="net40" />
</packages>